body {
    font-family: sans-serif;
    background-color: #111d4a;
}

* {
    box-sizing: border-box;
}
h1 {
    color: #eee;
    margin-bottom: 30px;
}
#search {
    position: relative;
}

#list:after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 15px;
}
